@import url("https://fonts.googleapis.com/css?family=Quicksand");

* {
  font-family: Quicksand;
}

.box {
  border: lightgray 1px solid;
  margin: 5px 25%;
  padding: 10px;
}

.artist_list {
  border: lightgray 1px solid;
  margin: 5px 25%;
  padding: 20px;
}

.music_artists {
  font-family: Quicksand;

  display: inline-block;
  padding: 3px 15px;

  margin-right: 5px;
  margin-bottom: 5px;

  background-color: #eef7cb;
  border: 1px solid grey;
  border-radius: 20px;
}

input {
  font-family: Quicksand;
  margin-right: 5px;
  margin-bottom: 10px;
  height: 20px;
  width: 200px;
}

.error {
  font-family: Quicksand;

  background-color: lightpink;
}

.btns_list {
  margin: 15px 25%;
}

.save_btn {
  margin-right: 5px;
  padding: 3px 10px;
  font-weight: bold;
  float: right;
}

.logout_btn {
  margin-right: 5px;
  padding: 5px 10px;
  font-weight: bold;
  float: right;
}
